.form-inline.clearfix
 .nested-fields
  = f.input :step, required:false, label:false, input_html:{class:'form-control form-input'}
  = link_to_remove_association 'Remove', f, class:'form-button btn btn-default'