.new_edit_titles
 %h2 New Recipe
%hr

= simple_form_for @recipe, url:"/recipyes/#{@recipe.id}", html: {multipart: true} do |f|
 = render 'form', f:f
 = link_to 'Back', :back, class:'btn btn-default'
 = f.button :submit, value:"Create", class:'btn btn-default success'
 
