.main_content
 
 .row
  .col-md-6
   #recipe_top
   = image_tag @recipe.image.url(:medium, class:"recipe_image")  
  
  .col-md-6
   #recipe_info
    %h3= @recipe.title.capitalize
    %p= to_link(@recipe.description.capitalize)
 
 .row
  .col-md-6
   #ingredients
    %h2 Ingredients
    %ul
     - @recipe.ingredients.each do |ingredient|
      %li
       %input{ :type=>"checkbox" }
       =ingredient.name.capitalize

 
  .col-md-6
   #directions
    %h2 Directions
    %ul
     - @recipe.directions.each do |direction|
      %li
       %input{ :type=>"checkbox" }
       = direction.step.capitalize

%p
 = "Was created at #{@recipe.created_at.strftime("%d %B")} by" 
 = link_to "#{@recipe.user.email}", user_path("#{@recipe.user.id}")
%br/
%p
 =link_to 'Back', :back, class:'btn btn-default'
 =link_to like_recipye_path(@recipe), method: :put, class:"btn btn-default vote" do
  %span.glyphicon.glyphicon-heart
   = @recipe.votes_for.size
 - if user_signed_in?
  =link_to 'Edit', edit_recipye_path(@recipe),class:'btn btn-default'
  =link_to 'Delete', recipye_path(@recipe) , method: :delete, data:{:confirm=>"Are you sure?"},class:'btn btn-default danger'

%hr
%h2#user_detail
 Comments 
 %span{class:'badge'}= @recipe.comments.count 
%br
- @recipe.comments.each do |c| 
 - unless c.nil? || c.created_at.nil?
  %table{:border => "0",class:'table table-striped commenter'}
   %tr
    %th.user_avatar= link_to image_tag(c.user.avatar.url(:thumb), class:"avatar"), user_path(c.user_id)
    %th.text_comment= to_link(c.body)
   %tr
    %th.commenter= c.user.name 
    %th.comment_date= c.created_at.strftime("%d %B %Y")
    - if user_signed_in? 
     - if c.user_id == current_user.id || current_user.admin
      %th.comment-delete= link_to "Delete", recipye_comment_path(@recipe, c), method: :delete, class:'comment-delete', data:{confirm:'Really?'}
%hr
= render '/comments/form_for_comment'
