
<h2 style="color:grey;">Edit <%= resource_name.to_s.humanize %></h2>
<hr>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
<div class="alert-danger edit">
  <%= devise_error_messages! %>
</div>
<br/>

<div class="sign_up">

<p class="display_none_form"> <%= f.label :name %></p>
  <%= f.text_field :name, autofocus: true, class:"form-control", rows:"3", placeholder:"User name" %></p>

<p class="display_none_form"> <%= f.label :avatar %><br /></p>
  <%= f.file_field :avatar, autofocus: true, class:"form-control", rows:"3", placeholder:"Avatar" %><br/>

  <p class="display_none_form"> <%= f.label :email %></p>
  <%= f.email_field :email, autofocus: true, class:"form-control", rows:"3", placeholder:"Email" %>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    Currently waiting confirmation for: <%= resource.unconfirmed_email %>
  <% end %>

  <p><div class="display_none_form"><%= f.label :password %> </div>
    <%= f.password_field :password, autocomplete: "off", class:"form-control", rows:"3", placeholder:"Password" %><i>(leave blank if you don't want to change it)</i></p>

  <p class="display_none_form"> <%= f.label :password_confirmation%></p>
   <p> <%= f.password_field :password_confirmation, autocomplete: "off", class:"form-control", rows:"3", placeholder:"Password confirmation" %></p>

  <p class="display_none_form"> <%= f.label :current_password %> </p><p>
    <%= f.password_field :current_password, autocomplete: "off", class:"form-control", rows:"3", placeholder:"Current password"  %><i>(we need your current password to confirm your changes)</i></p> 
    </div>
    <br/>

 <p id="edit_buttons"><%= f.submit "Update", class:"btn btn-primary" %>
<%end%>

<%= button_to "Delete account", registration_path(resource_name), class: "btn btn-danger", data: { confirm: "Are you sure?" }, method: :delete %></p>  
<hr><br/>
<p><%= link_to "Back", :back, class: "btn btn-default" %></p>
