<div class="center2">
<h2 style="color:grey;">Sign up</h2><br>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

<div class="alert-danger edit">
  <%= devise_error_messages! %>
</div>

  
  <div class="sign_up">

<p class="display_none_form"> <%= f.label :name %><br /></p>
  <%= f.text_field :name, autofocus: true, class:"form-control", rows:"3", placeholder:"User name" %><br/>

<p class="display_none_form"> <%= f.label :avatar %><br /></p>
  <%= f.file_field :avatar, autofocus: true, class:"form-control", rows:"3", placeholder:"Avatar" %><br/>

  <p class="display_none_form"><%= f.label :email %><br /></p>
  <%= f.email_field :email, autofocus: true, class:"form-control", rows:"3", placeholder:"Email" %><br/>

  <p class="display_none_form"><%= f.label :password %> <% if @validatable %><i>(<%= @minimum_password_length %> characters minimum)</i><% end %><br /></p>
    <%= f.password_field :password, autocomplete: "off",class:"form-control", rows:"3", placeholder:"Password" %><br />

  <p class="display_none_form"><%= f.label :password_confirmation %><br/></p>
    <%= f.password_field :password_confirmation, autocomplete: "off",class:"form-control", rows:"3", placeholder:"Password confirmation"%><br/>

<p><%= f.submit "Sign up", class:"btn btn-primary" %></p></div>
<% end %>
<br/>
</div>