- if current_page?("/users/list/recipes")
 
 %h3#user_detail List of all recipes:
 %hr
 %table{:border => "1",class:'table table-striped'}
  %tr
   %th Title
   %th Created_by  
   %th Category
   %th Created_at
   %th{:colspan=>"2"} Action
  -@recipes.each do |recipe|
   %tr
    %td=link_to recipe.title.capitalize, recipye_path(recipe)
    %td=link_to recipe.user.name, user_path(recipe.user_id)
    %td
     = recipe.category.name if recipe.category
     = "Unknown" if ! recipe.category
    %td=recipe.created_at.strftime("%B %e, %Y %l:%M %p")
    %td=link_to 'Edit', edit_recipye_path(recipe)
    %td=link_to 'Del', recipye_path(recipe), method: :delete, data:{confirm:"Delete '#{recipe.title.capitalize}'?"}, class:'del'
 %hr/
 = will_paginate @recipes, inner_window:1, outer_window:0, renderer: BootstrapPagination::Rails

- elsif current_page?("/users/list/comments")
 
 %h3#user_detail List of all comments:
 %hr
 %table{:border => "1",class:'table table-striped comments'}
  %tr
   %th Comment
   %th Created_by  
   %th Created_at
   %th Action
  -@comments.each do |comment|
   %tr
    %td=link_to comment.body.capitalize, recipye_path(comment.recipe_id)
    %td=link_to comment.user.name, user_path(comment.user_id)
    %td=comment.created_at.strftime("%B %e, %Y %l:%M %p")
    %td=link_to 'Del', recipye_comment_path(comment.recipe_id, comment), method: :delete, data:{confirm:"Delete?"}, class:'del'
 %hr/
 = will_paginate @comments, inner_window:1, outer_window:0, renderer: BootstrapPagination::Rails

- elsif current_page?("/users/list") || current_page?("/users/list/banned")

 #user_detail
  %h3= "List of all users:" if current_page?("/users/list")
  %h3= "List of banned users:" if current_page?("/users/list/banned")
 %hr
 - @users.each do |u|
  - if ! u.admin
   %table{:border => "1",class:'table table-striped users'}
    %tr
     %td= link_to image_tag(u.avatar.url(:thumb), class:"avatar"), user_path(u)
     %td= u.name.capitalize
     %td= u.email
     %td
      = form_for u, url:"/users/#{u.id}/banned" do |f|
       - if ! u.banned?
        = f.label 'Lock user'
        = f.check_box :banned, {},true, checked:""
       - else
        = f.label 'Unlock user'
        = f.check_box :banned, {},false, checked:""
       %p= f.submit "Submit", class: "button small btn-default" 
     - if ! current_page?("/users/list/banned")
      %td= link_to 'Delete', user_path(u), method: :delete, class:'del', data:{confirm:"Destroy user?"} 
  %hr
  = will_paginate @users, inner_window:1, outer_window:0, renderer: BootstrapPagination::Rails

%hr
%p= link_to 'Back', user_path(current_user), class:"btn btn-default"


 
   
