- if user_signed_in?
 - if current_user.admin 
  %h2#user_detail Manage resource:
  %br
  %table{:border => "1",class:'table table-striped'}
   %tr
    %td= link_to "Users (#{@users.count})", list_users_path 
    %td= link_to "Banned users (#{@banned_users_count})", list_banned_users_path
    %td= link_to "Categories (#{@categories.count})", categories_path
    %td= link_to "Recipes (#{@recipes.count})", list_of_recipes_path
    %td= link_to "Comments (#{@comments.count})", list_of_comments_path
%hr/

#user_detail  
 %h2 User detail:
 %hr/
 %p
  %style="word-spacing:13px;"
  %b
  = @user.name.capitalize
  = image_tag @user.avatar.url(:thumb), class:"avatar"
  
 %p= @user.email
 %p= "Created: #{@user.created_at.to_s(:short)}"
  
 - if @user.recipes.count == 0
  = render text: "Has #{@user.recipes.count} recipes" 
 - elsif @user.recipes.count < 2
  = link_to "Has #{@user.recipes.count} recipe", user_recipes_path(@user)
 - else
  = link_to "Has #{@user.recipes.count} recipes", user_recipes_path
 %hr/
 - if user_signed_in?
  - if current_user.admin || current_user.id == @user.id
   
   = link_to "Edit profile", edit_user_registration_path, class:"btn btn-primary"

 %hr/
 = link_to "Back",:back, class:"btn btn-default" 