<h2>Change your password</h2></br>

<div class="sign_up">
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>
  <%= f.hidden_field :reset_password_token %>

<p><div class="display_none_form"><%= f.label :password %> </div>
    <%= f.password_field :password, autocomplete: "off", class:"form-control", rows:"3", placeholder:"New password" %></p>

  <p><div class="display_none_form"> <%= f.label :password_confirmation%></div>
    <%= f.password_field :password_confirmation, autocomplete: "off", class:"form-control", rows:"3", placeholder:"Confirm new password" %></p></br>

  <p><%= f.submit "Change password", class:"btn btn-primary" %></p>
 </div>
<% end %>
