<div class='center'>
<h3 style="color:grey;">Forgot your password?</h3><br/>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, 'text-align'=>"center"}) do |f| %>
  <%= devise_error_messages! %>

 <div class="sign_up ">

  <p class="display_none_form"><%= f.label :email %><br /></p>
  <p class="center2"><%= f.email_field :email, autofocus: true, class:"form-control", rows:"3", placeholder:"Type your email" %></p><br/>

  <p><%= f.submit "Send me reset password instructions", class:"btn btn-primary" %></p>
  <br/>
  </div>
<% end %>
</div>