<div class="center2">
<h3 style="color:grey;">Sign in</h3><br/>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  
  <div class="sign_up"><p class="display_none_form"><%= f.label :email %></p>
  <%= f.email_field :email, autofocus: true, class:"form-control", rows:"3", placeholder:"Email" %><br/>

<p class="display_none_form"><%= f.label :password %></p>
    <%= f.password_field :password, autocomplete: "off", class:"form-control", rows:"3", placeholder:"Password" %><br/>

  <% if devise_mapping.rememberable? -%>
    <p><%= f.check_box :remember_me %> <%= f.label :remember_me %>
  <% end %></p>
 
  <p><%= f.submit "Log in", class:"btn btn-primary" %></p></div>
<% end %>

<%= render "devise/shared/links" %><br/>
</div>