/*
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

$red: #DB6161;

@mixin box-shadow {
	-webkit-box-shadow: rgba(0, 0, 0, 0.09) 0 2px 0;
	-moz-box-shadow: rgba(0, 0, 0, 0.09) 0 2px 0;
	box-shadow: rgba(0, 0, 0, 0.09) 0 2px 0;
}

.about_contact{
	color:$red;
}

.footer .box a {
		text-decoration:none;
    color: #777;
    font-size: 15px;
}

.box{
  margin: 0 auto; 
	border-top: 1px solid #E1E4E9;
	width: 910px;
}

.footer .box ul li {
		list-style:none;
		float: right;
    padding: 10px 16px;
} 

.btn-default { 
	color:grey;
	border: none;
	font-weight: bold;
	width:65px;
	height: 30px;
	font-size: 13px; 
	border-radius: 1px; 
	padding: 6px 9px;
}

.form-button.btn.btn-default.add_fields{
	margin-top: 20px;
	margin-left: -2px;
	color: green;
	border-radius: 19px;
}

.form-button.btn.btn-default.remove_fields.dynamic{
	color: $red;
	border-radius: 19px;
}

input[type="file" i]::-webkit-file-upload-button, button {
	color:grey;
	border: none;
	font-weight: bold; 
	width:105px;
	height: 25px;
	margin-left: -6px; 
	margin-top:-4px;
	font-size: 13px; 
	border-radius: 1px; 
	padding: 6px 9px;
}

.new_edit_titles{
	padding-left: 17px;
  color: grey;
}

/*for devis Registration forms*/


.alert-danger.errors{
margin-left: 15px;
}
.alert-danger.categories_errors{
	width:50%;
}

.alert-danger.edit{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
}
#error_explanation h2 {font-size: 15px;}
#error_explanation ul {font-size: 15px;}

#search_result{	
	padding-left: 17px;
	color: grey;
}	

.col-md-6 h3 {
	color:grey;
}

input#search.form-control{
	width:100%;
	font-style: italic;
	font-size: 16px;
}

body {
	background: rgb(235, 238, 243);
}

#container_body{margin-top: -26px;}

.main_content {
	padding: 0 0 30px 0;
}


.navbar {
	margin-bottom: 50px;
	@include box-shadow;
	border: none;
	.navbar-brand {
		text-transform: uppercase;
		letter-spacing: -1px;
		font-weight: bold;
		font-size: 25px;

		a {
			color: $red;
			text-decoration: none;
		}
	}
}

.container {

	padding-top: 15px; 
  width: 910px; 
}

.recipe {
	background: white;
	border-radius: 5px;
	margin-bottom: 40px;
	@include box-shadow;
	.image_wrapper {
		max-width: 100%;
		border-radius: 5px 5px 0 0;
		overflow: hidden;
	}
	img {
		width: 100%;
		-webkit-transition: all .3s ease-out;
	  -moz-transition: all .3s ease-out;
	  -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
		&:hover {
			transform: scale(1.075);
		}
	}
	h2 {
		padding: 15px 5%;
		margin: 0;
		font-size: 20px;
		font-weight: normal;
		line-height: 1.5;
		a {
			color: $red;
		}
	}
}

#recipe_top {
	margin-bottom: 1px;
}


#recipe_info, #ingredients, #directions {
	background: white;
	@include box-shadow;
	min-height: 360px;
	border-radius: 5px;
	padding: 0.3em 7%;
}

.recipe_image {
	max-width: 100%;
	border-radius: 5px;
}

#recipe_info { margin-bottom: 58px;
	
	h3 {
		font-size: 29px;
		font-weight: normal;
		color: $red;
		margin-left: 5px;
}
	p { 
			overflow: hidden;
			position: relative;
    	line-height: 18px;
			font-size: 14px; /* need to know this*/
			text-align:left;
			padding: 0.3em 1%;
			color: grey;
			
		}
}
	.description {
		color: #8A8A8A;
		font-size: 14px;
	}

#ingredients ul {
 list-style: none;
}

#directions ul {
 list-style: none;
}
#ingredients, #directions {

	margin-bottom: 50px;
	h2 {
 		color: #424242;
 		margin-left: 5px;
	ul, ol {
		padding-left: 18px;
		list-style: none;
		li {
			padding: 1em 8%;
			border-bottom: 1px solid #EAEAEA;
		}
	}
}
}

.form-inline {
	margin-top: 15px;
}
.form-input {
	width: 65% !important;
	float: left;
}
.form-button {
	float: left;
	width: 30% !important;
	margin-left: 5%;
}
.add-button {
	margin-top: 25px;
}

#errors {
	border-radius: 5px;
	width: 40%;
	background-color: red;
	color: white;

}
.form-control{width: 50%;}
.error {display:none;}
.form-control2{height: 60px;}

ul.nav.navbar-nav.navbar-right li > a{
	text-decoration: none;
	color: #777;
}

.btn.btn-default.vote{width: 48px;  word-spacing: -7px;}
span.glyphicon.glyphicon-heart{ float:left; font-weight:bold; font-size: 13px;}

#dropdown{ width: 30px; margin-left: -60px;  padding-top: 14.9px; padding-left: 60px; }
button#dropdownMenu1.btn.glyphicon.glyphicon-chevron-down.dropdown-toggle{
 width: 25px; 
 height: 25px;
 background-color:$red;
 color: white;
 padding-left: 4.5px;
 padding-top: 2px;
}

ul.dropdown-menu {
	position:absolute;
 top: inherit;
 left: inherit;
 z-index: 1000;
 min-width: 187px;
 margin: 15px 0 0;
 list-style: none;
 font-size: 14px;
 text-align: left;
 background-color: #fff;
 border: 1px solid rgba(0, 0, 0, 0.15);
 border-radius: 4px;
 box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
 background-clip: padding-box;
}

.dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    color: $red;
    white-space: nowrap;
}

