
@mixin box-shadow {
	-webkit-box-shadow: rgba(0.09, 0, 0, 0.09) 2px 2px 0;
	-moz-box-shadow: rgba(0.09, 0, 0, 0.09) 2px 2px 0;
	box-shadow: rgba(0.09, 0, 0, 0.09) 2px 2px 0;
}

.panel-body-category-form {
	padding:10px;	
}

table {
 border-color: white;
	@include box-shadow; 
th{
	text-align: center;
}
td{
	text-align: center;
}
td a{
	color: #668F9F;
}
td a.del{
	color: #DB6161;
}
}