$red: #DB6161;
@mixin box-shadow {
	-webkit-box-shadow: rgba(0, 0, 0, 0.09) 0 2px 0;
	-moz-box-shadow: rgba(0, 0, 0, 0.09) 0 2px 0;
	box-shadow: rgba(0, 0, 0, 0.09) 0 2px 0;
}

th.comment-delete {
	float:right;

}

a.comment-delete:focus, a.comment-delete:hover{text-decoration: none; }
.user_avatar a {text-align: center; width: 70px;}
th.commenter {
	border-left: 4px solid white; 
	color: grey; 
	text-align: center;
	word-wrap:break-word; 
	width: 70px;}
th.user_avatar {border-left: 4px solid white; border-top: 2px solid white;}
th.text_comment {color: grey; margin-left: 10px; text-align: left;}
th.comment_date{color:grey; float:right; font-weight: normal;}

.btn-default.comment { 
	color:grey;
	border: none;
	font-weight: bold;
	width:85px;
	height: 30px;
	font-size: 13px; 
	border-radius: 1px; 
	padding: 6px 9px;
}

.table.table-striped.comments {
 border-color: white; 
td{
	width: 10px;
 overflow:hidden;
 word-wrap:break-word;
 text-align: center;
 vertical-align: inherit;
}
td a.del{
 color: #DB6161;
}
}
span.badge{
	margin-left: 2px;
	padding: 9px 12px;
	font-size: 14px;
}