
.display_none_form {display:none;}

.center {text-align: center;}

.center2 {margin-left: 315px;}

.flash_align {text-align: center}

.sign_up .form-control {width: 44%;}

.list_users{list-style: none;}

.btn.btn-danger {    
    padding: 6px 9px;
    font-size: 13px;
    font-weight: bold;
}

.btn.btn-primary {    
    padding: 6px 9px;
    font-size: 13px;
    font-weight: bold;
}

#user_detail{color: grey;}

.avatar {
    /* fill the container, preserving aspect ratio, and cropping to fit */
    background-size: cover;

    /* center the image vertically and horizontally */
    background-position: center;

    /* round the edges to a circle with border radius 1/2 container size */
    border-radius: 10%;
}

.table.table-striped.users {
 border-color: white;
 table-layout:fixed;
  
td{
width:20px;
  overflow:hidden;
  word-wrap:break-word;
    text-align: center;
    vertical-align: inherit;
}

td a.del{
    color: #DB6161;
}
}
