#some
 -if @category.errors.any?
  .alert-danger.categories_errors
   =pluralize("#{@category.errors.count}","Error")
   prevented this category from saving:
   %ul
    -@category.errors.full_messages.each do |msg|
     %li= msg
 =f.input :name, label:false, input_html:{class:"form-control", placeholder:"Name of the new category"}
 %br/
 .panel-body-category-form
 %p
  =link_to 'Cancel', categories_path, class: 'btn btn-default'
  =f.submit :Save, class:'btn btn-default'
 %br
  