#user_detail
 %h3 Ceategories list
%br
%table{:border => "1",class:'table table-striped'}
 %tr
  %th Name
  %th{:colspan=>"2"} Action  
 -@categories.each do |category|
  %tr
   %td=category.name.capitalize
   %td=link_to 'Edit', edit_category_path(category)
   %td=link_to 'Del', category_path(category), method: :delete, data:{confirm:"Delete #{category.name.capitalize}"}, class:'del'
%br/
%p= will_paginate @recipies, inner_window:1, outer_window:0, renderer: BootstrapPagination::Rails
%p
 = simple_form_for @category do |f|
  = render 'form_for_category', f:f
  %hr
 %p= link_to 'Back', user_path(current_user), class:"btn btn-default"


  